[project]
name = "alfred-workflow-packager"
version = "3.0.0-beta.6"
description = "A CLI utility for packaging and exporting Alfred workflows"
readme = "README.md"
requires-python = ">=3.9"
authors = [
    { name = "Caleb Evans", email = "caleb@calebevans.me" }
]
maintainers = [
    {name = 'Caleb Evans', email = 'caleb@calebevans.me'}
]
license = {file = 'LICENSE.txt'}
keywords = ["alfred", "workflow", "package", "export"]
dependencies=[
    "jsonschema>=4,<5"
]

[project.scripts]
awp = "awp.main:main"

[tool.setuptools.package-data]
awp = ["awp/data/*.json"]

[project.urls]
homepage = "https://github.com/caleb531/alfred-workflow-packager"
documentation = "https://github.com/caleb531/alfred-workflow-packager#readme"
repository = "https://github.com/caleb531/alfred-workflow-packager"
changelog = "https://github.com/caleb531/alfred-workflow-packager/releases"

[build-system]
requires = ["setuptools", "wheel"]
